$screen-min-max: 479px;
$screen-xs-min: 480px;
$screen-xs-max: 599px;
$screen-sm-min: 600px;
$screen-sm-max: 959px;
$screen-md-min: 960px;
$screen-md-max: 1263px;
$screen-lg-min: 1264px;
$screen-lg-max: 1903px;
$screen-xl-min: 1904px;
